.cardContainer{
  border-radius: 10px;
  display: flex;
  width: 90%;
  justify-content: right;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
  margin: 10px auto;
  padding:  10px;
}

.toggle{
  margin: auto 5px;
  height: 90% ;
}

.searchButton{
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  margin: auto 0 auto 10px;
  position: relative;
}
.svg{
  width: 22px;
  fill: var(--shadow);
}

.searchButton::before{
  content: '';
  display: flex;
  width: 1px;
  height: 90%;
  background-color:var(--shadow);
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
