.container{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.record{
  background-color: var(--orange);
  color: var(--white);
  padding: 10px 5px;
}

.record::first-letter{
  text-transform: uppercase;
}
