@if(example){
  <div class="container">
    <button class="containerHeader" (click)="toggleShowAdditionalInfo()">
      <p class="sentence">{{example.sentence}}

        <!-- @if(isMoreInfo && !showAdditionalInfo){
          <button class="additionalInfoButton" >
            <app-info-svg />
          </button>
        } -->
      </p>

    </button>

  @if(showAdditionalInfo){
      <p class="sentenceTranslated">{{example.translation}}</p>
      @if(example.info){
        <p class="info">{{example.info}}</p>
      }

  }
  </div>
}
