.main_container{
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  background: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal{
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 500px;
}


.float_button{
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}
