<div class="mainContainer">


  <div class="headerContainer">
    @if ((showModal | async)===false) {
      <app-header/>
    }
  </div>
  <div class="main_container">

    @if (showModal | async) {
      <app-modal class="modal"/>
      }

    <router-outlet/>



    @if(showMenu | async){
      <app-menu class="menu"/>
    }

    <app-float-button class="float_button"/>

    <app-toast/>
  </div>

  @if(showLoader| async){
    <div class="loaderContainer">
      <app-loader class="loader"/>
    </div>
  }

</div>
