.form{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.formRow{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.formGroup {
  position: relative;
  padding: 15px 0 0;
  margin: 10px;
  margin-top:  10px;
  width: 50%;
}

.formField{
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--shadow);
  outline: 0;
  font-size: 18px;
  color: var(--font-color);
  padding: 8px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.formField::placeholder{
  color: transparent;
}

.formField:placeholder-shown + .formLabel{
    font-size: 20px;
    cursor: text;
    top: 20px;
    color: var(--shadow);
    font-weight:300;
}

.formField:placeholder-shown {
  border-bottom: 2px solid var(--shadow);
  font-weight:300;
}

.formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: var(--shadow);
}

.formLabel *{
  margin: auto 5px;
}

.formField:focus + .formLabel{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: var(--secondary);
  font-weight:700;
}

.formField:not(placeholder-shown) + .formLabel{
  color: var(--secondary);
  font-weight:700;
}

.formField:not(placeholder-shown), .formField:focus {
  border-bottom: 2px solid var(--secondary);
}

.exampleField{
  width: 90%;
  margin: 5px 15px;
}

.buttonRow{
  margin:0 auto 10px auto;
}

.buttonRow *{
  margin: 0 5px;
}


.definitionsContainer{
  margin: 15px 0;
}

.formRowDefinitionTitle{
  display: flex;
  margin: 10px;
}

.defContainer{
  margin: 10px;
  background-color: #F3F3F3;
  padding: 10px 0 15px 0;
}

.examples{
  display: flex;
  flex-direction: column;
}


.exampleContainer{
  display: flex;
  flex-direction: column;
  margin: 5px;
}


.exampleButton, .definitionButton{
  margin: 5px auto;
  padding: 5px 10px;
}

.formRowAdding{
  display: flex;
  justify-content: center;
  margin: 20px auto ;
}


.separator{
  height: 2px;
  width: 80%;
  border: none;
  margin: 10px auto;
}

.definitionTitle{
  font-size: 16px;
  color: var(--primary);
  font-weight: 800;
  margin: auto 0;
}

.exampleRow{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 5px;
}


.exampleTitle{
  font-size: 14px;
  color: var(--primary);
  font-weight: 800;
  margin: auto 0;
}

.deleteButton{
  background-color: var(--secondary);
  height:fit-content;
  background-color: transparent;
  border: none;
}

.deleteButton:hover{
  scale: 1.1;
  cursor: pointer;
}

.deleteButtonRow *{
  margin: 0 2.5px;
}
