<form class="form" [formGroup]="form">

  <div class="formRow">
    <div class="formGroup">
      <input class="formField" type="text" name="name" placeholder="Name" formControlName="value"  required>
      <label for="name" class="formLabel">Registro<app-english-svg/>
      </label>
    </div>

    <div class="formGroup">
      <select class="formField" formControlName="type" name="type" >
        @for (option of optionSelect; track $index) {
          <option [value]="option.value">{{option.label}}</option>
        }
      </select>
      <label for="type" class="formLabel">Tipo</label>
    </div>
  </div>

  <div class="definitionsContainer" formArrayName="definitions">
    @for(def of definitions().controls; track $index; let definitionIndex = $index){

      <div class="exampleRow">
        <span class="definitionTitle">Definición {{definitionIndex + 1}}:</span>

        <div class="deleteButtonRow">
            <app-form-button-secundary  (click)="addExample(definitionIndex)">
              + Ejemplo
            </app-form-button-secundary>
          @if(definitions().length > 1){
            <app-form-button-secundary  (click)="removeDefinition(definitionIndex)">
              <app-delete-svg/>
            </app-form-button-secundary>
          }
        </div>

      </div>
      <div class="defContainer" [formGroupName]="definitionIndex" >
        <div class="formRow">
          <div class="formGroup">
            <input name="translation" class="formField" type="text" name="translation" placeholder="Traduccion" formControlName="translation" required />
            <label for="translation" class="formLabel">Traducción<app-spain-svg/></label>
          </div>

          <div class="formGroup">
            <select formControlName="defType" class="formField" name="defType">
              @for (optionDef of optionDefinitionSelect; track $index) {
                <option [value]="optionDef.value" >{{optionDef.label}}</option>
              }
            </select>
            <label for="defType" class="formLabel">Tipo</label>
          </div>
        </div>

        <div class="examplesContainer" formArrayName="examples" >
          @for(ex of examples(definitionIndex).controls; track $index; let exampleIndex = $index){
            <div class="exampleContainer" [formGroupName]="exampleIndex" >

              <div class="exampleRow">
                <span class="exampleTitle">Ejemplo {{exampleIndex + 1}}:</span>
              </div>
              <div class="formGroup exampleField">
                <input name="sentence" class="formField " type="text" placeholder="ejemplo"  formControlName="sentence"  />
                <label for="sentence" class="formLabel">Ejemplo<app-english-svg/></label>
              </div>
              <div class="formGroup exampleField">
                <input type="text"  name="translation" class="formField " placeholder="Traduccion"  formControlName="translation"  />
                <label for="translation" class="formLabel">Ejemplo<app-spain-svg/></label>
              </div>
            </div>
          }
        </div>
      </div>
    }

    <div class="formRowAdding">
      <app-form-button-secundary  (click)="addDefinition()">+ Definición</app-form-button-secundary>
    </div>
  </div>

  <div class="formRow buttonRow">
    <app-form-button (click)="closeModal()" [cancel]="true" >Cancelar</app-form-button>
    <app-form-button (click)="saveRecord()">Guardar</app-form-button>
  </div>

</form>
