<div class="container">
  <app-filters/>
@if(isLoadingRecords | async){
    <div class="loadingContainer">
      <app-loader></app-loader>
    </div>
}
@else{

  @if(recordList | async; as paginationRecords){

    <div class="recordListContainer">
      @for (record of paginationRecords.items; track $index) {
        <button (click)="toDetail(record)" class="record">
          <span [ngClass]="{
            'wordTag': record.type ==='WORD',
            'phrasalTag':record.type ==='PHRASAL',
            'expressionTag':record.type ==='EXPRESSION'}"></span>
          <span class="recordValue">{{record.value}}</span>

          @if(record.definitions.length > 0){
            <div class="definitions">
              @for (definitions of record.definitions; track $index) {
                <span class="definitionText">{{definitions.translation}}</span>
              }
            </div>
          }
        </button>
        }
      </div>
      <app-paginator/>
  }
}
</div>

