
@if(recordList | async; as paginationRecords){
  <div class="container">
    @for (record of paginationRecords.items; track $index) {
      <div [routerLink]="['/detail/', record.recordId]" class="record">
        <span class="recordTag"></span>
        <span class="recordValue">{{record.value}}</span>

        @if(record.definitions.length > 0){
          <div class="definitions">
            @for (definitions of record.definitions; track $index) {
              <span class="definitionText">{{definitions.translation}}</span>
            }
          </div>
        }
      </div>
      }

      @if(paginationRecords.pageInfo; as info){
        hasNext: {{info.hasNext}}
        hasPrev: {{info.hasPrevious}}
        count: {{info.totalCount}}
      }

  </div>
}
