.container{
  margin: 0 ;
}
.definitionContainer{
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.definition{
  font-weight: 800;
}

.definition::first-letter,
.info::first-letter{
    text-transform: uppercase;
}

.definitionType{
  font-style: italic;
  margin: auto;
  margin-left: 10px;
}


.additionalInfoButton{
  width: 14px;
  padding: 0;
  margin: auto 15px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.additionalInfoContainer{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.exampleRow{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--secondary);
}

.exampleName {
  padding: 0;
  margin: auto 0 0 0;
}

.button{
  margin: auto 0;
}
.info{
  padding: 0;
}
.separator{
  height: 1px;
  background-color: var(--primary);
  border: none;
}

.row{
  width: max-content;
  margin: auto;
}
