/* You can add global styles to this file, and also import other style files */


:root{
  --blue:#0B4F6C;
  --dark-blue:#083e56;
  --red: #B80C09;
  --dark-red:#950b08;

  --white: #FBFBFF;
  --grey: #9a9a9a;
  --black: #040F16;

  --primary: var(--red);
  --primary-dark: var(--dark-red);
  --secondary: var(--dark-blue);
  --secondary-dark: var(--blue);
  --background: var(--white);
  --font-color: var(--black);
  --shadow:var(--grey);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--font-size);
  font-size: 18px;
  color: var(--font-color);
  background-color: var(--shadow);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

